&#x2734;&#xFE0F; <a href="{{.Url | escapeHTML}}"><b>{{.Title | escapeHTML}}</b></a>

&#x1F4B0; <b>Цена:</b> <i>{{.Price}}</i>

&#x23F0; {{.CreatedAt.Format "02.01.2006 15:04:05"}}

&#x1F4DD; Описание: {{.Description | escapeHTML}}