&#x2734;&#xFE0F; <a href="{{.Url | escapeHTML}}"><b>{{.Title | escapeHTML}}</b></a>

&#x1F517; Категория: <a href="{{.LinkUrl | escapeHTML}}">{{.CategoryTitle | escapeHTML}}</a>

&#x1F4B0; <b>Цена:</b> {{.Price}}

&#x23F0; <b>Опубликовано:</b> {{.CreatedAt.Format "02.01.2006 15:04:05"}}

{{.Description | escapeHTML}}