{{define "links_link"}}
<article class="card" hx-target="this" hx-swap="outerHTML swap:0.3s">
    <header>
        <h4>
            <a href="{{ .Url }}" target='_blank'>{{ .Name }}</a>
        </h4>
        {{if .MinPrice.Valid}}
            <p>Min Price: {{ .MinPrice.Int64 }}</p>
        {{end}}
        {{if .MaxPrice.Valid}}
            <p>Max Price: {{ .MaxPrice.Int64 }}</p>
        {{end}}
    </header>
    <footer>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                <a class="button" href="/links/{{ .ID }}">Show</a>
                <a hx-post="/links/{{ .ID }}/parse" class='button'>Parse</a>
            </div>

            <div>
                <a hx-confirm="Are you sure?" hx-delete="/links/{{ .ID }}" class='button error'>Delete</a>
            </div>
        </div>
    </footer>
</article>
{{end}}
