{{ define "links_form" }}
<div class="card p-3 mb-4">
    <form hx-post="/links" hx-target="#links_list" hx-swap="beforeend">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" name="name" placeholder="name"/>
        </div>
        <div class="mb-3">
            <label for="urlInput" class="form-label">URL</label>
            <input type="text" class="form-control" id="urlInput" name="url" placeholder="url"/>
        </div>
        <div class="mb-3">
            <label for="minPriceInput" class="form-label">Min Price</label>
            <input type="number" class="form-control" id="minPriceInput" name="min_price" placeholder="min price"/>
        </div>
        <div class="mb-3">
            <label for="maxPriceInput" class="form-label">Max Price</label>
            <input type="number" class="form-control" id="maxPriceInput" name="max_price" placeholder="max price"/>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{{ end }}
